.Headerbar-top {
  background-color: rgb(255, 249, 249);
  border-color: black;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  position: sticky;
  top: 0px;
  margin-bottom: 15px;
  direction: rtl;
  width: 74%;
  z-index: 2;
}

.Headerbar-bottom {
  background-color: rgb(255, 249, 249);
  border-color: black;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* padding-right: 100px;
  padding-left: 100px; */
  position: sticky;
  top: 0px;
  margin-bottom: 15px;
  direction: rtl;
  width: calc(100% - 120px);
  z-index: 2;
  padding-right: 0px;
  padding-left: 0px;

}

.searcher {
  border: 1px solid rgb(198, 191, 191);
  border-radius: 0 20px 20px 0;
  font-size: 16px;
  position: relative;
  top: 2px;
  left: 300px;
  height: 37px;
  width: 400px;
  padding-right: 10px;

}

.search-button-1 {
  width: 35px;
  position: absolute;
  top: 12px;
  left: 366px;
  height: 40.5px;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  border: 1px solid rgb(198, 191, 191);
}


.sidenav {
  height: 100%;
  width: 120px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(251 251 251);
  overflow-x: hidden;
  padding-top: 20px;
  direction: rtl;
  z-index: 3;
  overflow-y: hidden;

}


.button {
  border: none;
  color: rgb(174, 164, 164);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button4 {
  background-color: rgb(215, 211, 211);
  color: black;
  border: 2px solid rgb(215, 211, 211);
  border-radius: 10px;
}

.button4:hover {
  background-color: #a7a6a6;
}

.button5 {
  background-color: white;
  color: black;
  border: 1px solid rgb(215, 211, 211);
  border-radius: 10px;
  width: 100px;
  font-size: 12px;
}

.button5:hover {
  background-color: rgb(215, 211, 211);
}


.container {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  margin: 25px;
  flex-wrap: wrap;
  z-index: 0;
}


.news4 {
  position: relative;
  margin: 5px;
  padding: 15px;
  background-color: rgba(240, 235, 235, 0.308);
  border-radius: 15px;
  width: 25%;
  min-width: 200px;


}

.img {
  position: relative;
}

.timeline {
  color: white;
  position: absolute;
  left: 7px;
  bottom: 8px;
  background-color: black;
  width: 36px;
  text-align: center;
  padding-bottom: 4px;
  height: 24px;
  line-height: 0;
  font-size: 14px;
  font-family: math;
}

.img-video {
  width: 100%;
}

.img-logo {
  width: 150px;

}

.title-video {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.author {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  font-size: 13px;
  color: dimgrey;
  text-decoration: none;

}

.views {
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
  font-size: 13px;
  color: dimgrey;
  text-decoration: none;

}

@media (max-width: 598px) {
  .container {
    display: block;
    width: 80%;
  }

  .news4 {
    width: 80%;
  }

  .sidenav {
    width: 20%;
  }

  .button5 {
    width: 80%;
  }

  .Headerbar-bottom {
    display: none;
  }

  .Headerbar-top {
    width: 40%;
  }
}

@media (min-width: 700px) and (max-width: 966px) {

  /* .Headerbar-bottom {
    width: 70%;
    justify-content: center;
  } */
}

@media (min-width: 599px) and (max-width: 699px) {
  .Headerbar-bottom {
    display: none;
  }

  .container {
    display: block;
    width: 80%;
  }

  .news4 {
    width: 90%;
  }
}